/* Dialogs.module.css */

.dialogs {
  display: flex;
}

.dialogsItems{
  margin-right: 20px;
  
}

.dialog {
  padding: 10px;
  border: 1px solid #ccc;
 
}

.messages {
  flex-grow: 1;
}

.message {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
